appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.13
chardet==3.0.4
decorator==4.3.0
enum34==1.1.6
idna==2.7
ipython==5.8.0
ipython-genutils==0.2.0
numpy==1.15.0
pandas==0.23.4
pathlib2==2.3.2
pdfminer==20140328
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
PyPDF2==1.26.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
